<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Result</title>
</head>
<style>
    body{
         background-image:  url("bg.jpg");
        background-color: bisque;
    }
</style>
<body>

<br> <br><br> <br><br> <br>
<font face="Comic sans MS" size="5" color="green">  The movie will be </font>
<font face="Comic sans MS" size="6" color="blue">  {{ result }}</font>

<!--img src="bg.jpg"  alt="bg" style="width:1280px;height:720px;"-->

</body>
</html>